body {
  background: url(../images/bg-image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
h1 {
  color: white;
  font-size: 50px;
}
h2 {
  color: white;
  font-size: 18px;
}
.bio {
  color: white;
}
.profile-img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border-color: white;
  border-style: solid;
  margin-top: 40px;
}
.about {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
